:root {
    --color_background: #100a25;
}


header {
    background: var(--color_background);
}

main {
    background: var(--color_background);
}

footer {
    background: var(--color_background);
}

section {
    padding: 0px 0;
}

.main-heading {
    color: white;
    text-shadow: 0 3px 4px rgba(0,0,0,.6);
}

hr {
    display: block;
    height: 1px;
    width:90%;
    border: 0;
    border-top: 2px solid #fff;
    padding: 0;
}

.carousel .carousel-item {
    height: 35vw;
}

.carousel-item img {
    object-fit: cover;
    top: 0;
    left: 0;
    height: 140%;
    width: 100%;
}

.carousel-content {
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 20;
  text-shadow: 0 1px 3px rgba(0,0,0,.6);
}
